body {
    padding-left: 5%;
    padding-right: 5%;
}

.hidden {
    display: none;
}

.center {
    width: 50%;
    margin: 5% auto;
}

.btn-danger.center {
    display: block;
}

a nav {
    color: white;
}

.navbar-brand {
    color: white !important;
}

.modal {
    width: 50%;
    height: 65%;
    background: white;
    margin: auto auto;
}

textarea {
    width: 75%;
}

form input {
    display: block;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.footer {
    margin-top: 2%;
}
