body {
    padding-left: 5%;
    padding-right: 5%;
}

.hidden {
    display: none;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}
 
.center {
    width: 50%;
    margin: 5% auto;
}

.btn-danger.center {
    display: block;
}


a nav {
    color: white;
}

.navbar-brand {
    color: white !important;
}

